@model Client.ViewModels.UserListViewModel

<h1>User Lists</h1>

<!-- Form lọc -->
<form asp-action="Index" method="get">
    <label for="filterType">Select Filter:</label>
    <select name="filterType" id="filterType" onchange="this.form.submit()">
        <option value="">-- Select a filter --</option>
        <option value="users-available">All Users Available</option>
        <option value="users-banned">All Users Banned</option>
        <option value="authors-available">All Authors Available</option>
        <option value="authors-banned">All Authors Banned</option>
        <option value="staff-available">All Staff Available</option>
        <option value="staff-banned">All Staff Banned</option>
        <option value="uptoauthor-true">All Users with UpToAuthor = true</option>
    </select>
</form>

<!-- Hiển thị danh sách đã lọc -->
@if (Model.FilterType != "none" && Model.Users.Any())
{
    <h2>
        @switch (Model.FilterType.ToLower())
        {
            case "users-available":
                @:All Users Available
                break;
            case "users-banned":
                @:All Users Banned
                break;
            case "authors-available":
                @:All Authors Available
                break;
            case "authors-banned":
                @:All Authors Banned
                break;
            case "staff-available":
                @:All Staff Available
                break;
            case "staff-banned":
                @:All Staff Banned
                break;
            case "uptoauthor-true":
                @:All Users with UpToAuthor = true
                break;
        }
    </h2>
    <ul>
        @foreach (var user in Model.Users)
        {
            <li>@user.Username - @user.FullName</li>
        }
    </ul>
}
else
{
    <p>Please select a filter to view users.</p>
}