@model List<Shared.DTOs.UserDTO>
@{
	ViewData["Title"] = "Home Page";
}
<h2>User List</h2>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>
                        <a href="@Url.Action("Details", "User", new { id = user.UserId })">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Khong co</p>
}
